body {
    background-color: #f8f8f8;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}





/* 콘텐츠 */
.contents{
    /* padding: 20px 20px 0px 20px; */
    background-color: #f8f8f8;
    margin: 0 auto;
    margin-bottom: 74px;
    max-width: 720px;
    position: relative;
}




/* search */
.searchWrap{
    width: 100%;
    max-width: 720px;
    padding: 16px 20px;
    position: fixed;
    z-index: 999;
    background-color: #f8f8f8;
    display: flex;
    gap: 8px;
    align-items: center;
    transition: all 0.3s;
}
.searchWrap.scrolled{
    border-bottom: 1px solid #DBDBDB;
}
.searchWrap .logo img{
    display: block;
    height: 32px;
    width: 32px;
}
.searchBtn{
    width: 100%;
    padding: 0 16px;
    height: 32px;
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    transition: all 0.3s;
}
.searchWrap img.ic_search{
    display: block;
    width: 16px;
    height: 16px;
    fill: #494949;
}
.searchWrap img.ic_close{
    width: 12px;
    height: 12px;
    display: none;
    cursor: pointer;
}
.searchInput{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    color: #494949;
}
.searchInput::placeholder {
    color: #aaa;
}





/* 구분 */
.sortWrap{
    width: 100%;
    max-width: 720px;
    padding: 64px 20px 12px 20px;
    background-color: #f8f8f8;
    position: fixed;
    z-index: 99;
    transition: all 0.3s;
}
.sortWrap.scrollHide {
    transform: translateY(-100%);
}
.sortWrap.scrolled{
    border-bottom: 1px solid #DBDBDB;
}
.sortWrap .mainSort{
    width: 100%;
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}
.sortWrap .mainSort li{
    color: #aaa;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    padding: 6px 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 0.3s;
}
.sortWrap .mainSort li svg path{
    stroke: #aaa;
}
.sortWrap .mainSort li.on{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

/* 메인 구분 색상 */
.sortWrap .mainSort li.all.on{
    background-color: #FFEBEA;
    color: #E5483D;
    border: 1px solid #FFC3BE;
}
.sortWrap .mainSort li.all.on svg path{
    stroke: #E5483D;
}

.sortWrap .mainSort li.base.on{
    background-color: #FFEDDD;
    color: #F6741E;
    border: 1px solid #FFCCAB;
}
.sortWrap .mainSort li.base.on svg path{
    stroke: #F6741E;
}

.sortWrap .mainSort li.glass.on{
    background-color: #E5EEFF;
    color: #3675EA;
    border: 1px solid #C2D7FF;
}
.sortWrap .mainSort li.glass.on svg path{
    stroke: #3675EA;
}

.sortWrap .mainSort li.method.on{
    background-color: #F4E7FC;
    color: #A55DCD;
    border: 1px solid #ECC8FF;
}
.sortWrap .mainSort li.method.on svg path{
    stroke: #A55DCD;
}

.sortWrap .mainSort li.garnish.on{
    background-color: #FFF2D4;
    color: #F58F0A;
    border: 1px solid #FFDE91;
}
.sortWrap .mainSort li.garnish.on svg path{
    stroke: #F58F0A;
}

.sortWrap .mainSort li.etc.on{
    background-color: #E3F7D6;
    color: #52B908;
    border: 1px solid #CBECB3;
}
.sortWrap .mainSort li.etc.on svg path{
    stroke: #52B908;
}

.sortWrap .subSort{
    position: relative;
}
.sortWrap .subSort .swiper{
    overflow: hidden;
    display: none;
}
.sortWrap .subSort .swiper.on{
    display: block;
}
.sortWrap .subSort .swiper.allSub.on{
    display: none;
}
.sortWrap .subSort .swiper-wrapper{
    display: flex;
}
.sortWrap .subSort .swiper .swiper-slide{
    padding: 4px 12px;
    cursor: pointer;
    color: #aaa;
    font-size: 16px;
    font-weight: 400;
    width: auto;
    white-space: nowrap;
}

/* 스와이퍼 양 끝 페이드 */
.swiper-fade-left,
.swiper-fade-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    z-index: 10;
    pointer-events: none;
    transition: all 0.3s;
}
.swiper-fade-left {
    left: 0;
    background: linear-gradient(to right, rgb(248, 248, 248), rgba(248, 248, 248, 0));
}
.swiper-fade-right {
    right: 0;
    background: linear-gradient(to left, rgba(248, 248, 248), rgba(248, 248, 248, 0));
}
.fade-hidden {
    opacity: 0;
}

/* 서브 구분 색상 */
.sortWrap .subSort .allSub .swiper-slide.on{
    color:#E5483D;
}
.sortWrap .subSort .baseSub .swiper-slide.on{
    color:#F6741E;
        font-weight: 600;
}
.sortWrap .subSort .glassSub .swiper-slide.on{
    color:#3675EA;
    font-weight: 600;
}
.sortWrap .subSort .methodSub .swiper-slide.on{
    color:#A55DCD;
    font-weight: 600;
}
.sortWrap .subSort .garnishSub .swiper-slide.on{
    color:#F58F0A;
    font-weight: 600;
}
.sortWrap .subSort .etcSub .swiper-slide.on{
    color:#52B908;
    font-weight: 600;
}





/* 카드 */
.cardWrap {
    width: 100%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}
.cardWrap .card {
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    padding: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.cardWrap .card.hide{
    display: none;
}
.cardWrap .card .titleWrap{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
}
.cardWrap .card .titleWrap .title{
    font-size: 20px;
    font-weight: 600;
    color: #494949;
    transition: all 0.3s;
}
.cardWrap .card .titleWrap .titleEng{
    font-size: 14px;
    font-weight: 400;
    color: #aaa;
    transition: all 0.3s;
}
.cardWrap .card .imgWrap{
    margin: 16px 0 8px;
    display: flex;
    gap: 8px;
    transition: all 0.3s;
}
.cardWrap .card .imgWrap .img{
    display: block;
    width: calc(50% - 4px);
    border-radius: 8px;
    height: 44vw;
}

/* 칵테일 이미지들 시작 */
.cardWrap .card.manhattan .imgWrap .img{
    background: url(img/manhattan.jpg) no-repeat center/cover;
}
.cardWrap .card.oldFashioned .imgWrap .img{
    background: url(img/oldFashioned.jpg) no-repeat center/cover;
}
.cardWrap .card.newYork .imgWrap .img{
    background: url(img/newYork.jpg) no-repeat center/cover;
}
.cardWrap .card.whiskeySour .imgWrap .img{
    background: url(img/whiskeySour.jpg) no-repeat center/cover;
}
.cardWrap .card.boulevardier .imgWrap .img{
    background: url(img/boulevardier.jpg) no-repeat center/cover;
}
.cardWrap .card.rustyNail .imgWrap .img{
    background: url(img/rustyNail.jpg) no-repeat center/cover;
}
.cardWrap .card.sideCar .imgWrap .img{
    background: url(img/sideCar.jpg) no-repeat center/cover;
}
.cardWrap .card.brandyAlex .imgWrap .img{
    background: url(img/brandyAlex.jpg) no-repeat center/cover;
}
.cardWrap .card.honeymoon .imgWrap .img{
    background: url(img/honeymoon.jpg) no-repeat center/cover;
}
.cardWrap .card.blackRussian .imgWrap .img{
    background: url(img/blackRussian.jpg) no-repeat center/cover;
}
.cardWrap .card.moscowMule .imgWrap .img{
    background: url(img/moscowMule.jpg) no-repeat center/cover;
}
.cardWrap .card.seabreeze .imgWrap .img{
    background: url(img/seabreeze.jpg) no-repeat center/cover;
}
.cardWrap .card.cosmopol .imgWrap .img{
    background: url(img/cosmopol.jpg) no-repeat center/cover;
}
.cardWrap .card.appleMartini .imgWrap .img{
    background: url(img/appleMartini.jpg) no-repeat center/cover;
}
.cardWrap .card.pinaCol .imgWrap .img{
    background: url(img/pinaCol.jpg) no-repeat center/cover;
}
.cardWrap .card.blueHaw .imgWrap .img{
    background: url(img/blueHaw.jpg) no-repeat center/cover;
}
.cardWrap .card.maiTai .imgWrap .img{
    background: url(img/maiTai.jpg) no-repeat center/cover;
}
.cardWrap .card.cubaLibre .imgWrap .img{
    background: url(img/cubaLibre.jpg) no-repeat center/cover;
}
.cardWrap .card.daiquiri .imgWrap .img{
    background: url(img/daiquiri.jpg) no-repeat center/cover;
}
.cardWrap .card.bacardi .imgWrap .img{
    background: url(img/bacardi.jpg) no-repeat center/cover;
}
.cardWrap .card.tequilaSun .imgWrap .img{
    background: url(img/tequilaSun.jpg) no-repeat center/cover;
}
.cardWrap .card.margarita .imgWrap .img{
    background: url(img/margarita.jpg) no-repeat center/cover;
}
.cardWrap .card.dryMartini .imgWrap .img{
    background: url(img/dryMartini.jpg) no-repeat center/cover;
}
.cardWrap .card.negroni .imgWrap .img{
    background: url(img/negroni.jpg) no-repeat center/cover;
}
.cardWrap .card.singapore .imgWrap .img{
    background: url(img/singapore.jpg) no-repeat center/cover;
}
.cardWrap .card.ginFizz .imgWrap .img{
    background: url(img/ginFizz.jpg) no-repeat center/cover;
}
.cardWrap .card.longTea .imgWrap .img{
    background: url(img/longTea.jpg) no-repeat center/cover;
}
.cardWrap .card.apricot .imgWrap .img{
    background: url(img/apricot.jpg) no-repeat center/cover;
}
.cardWrap .card.grass .imgWrap .img{
    background: url(img/grass.jpg) no-repeat center/cover;
}
.cardWrap .card.juneBug .imgWrap .img{
    background: url(img/juneBug.jpg) no-repeat center/cover;
}
.cardWrap .card.pousse .imgWrap .img{
    background: url(img/pousse.jpg) no-repeat center/cover;
}
.cardWrap .card.b52 .imgWrap .img{
    background: url(img/b52.jpg) no-repeat center/cover;
}
.cardWrap .card.kir .imgWrap .img{
    background: url(img/kir.jpg) no-repeat center/cover;
}
.cardWrap .card.freshLeomon .imgWrap .img{
    background: url(img/freshLeomon.jpg) no-repeat center/cover;
}
.cardWrap .card.virginFruit .imgWrap .img{
    background: url(img/virginFruit.jpg) no-repeat center/cover;
}
.cardWrap .card.healing .imgWrap .img{
    background: url(img/healing.jpg) no-repeat center/cover;
}
.cardWrap .card.jindo .imgWrap .img{
    background: url(img/jindo.jpg) no-repeat center/cover;
}
.cardWrap .card.puppyLove .imgWrap .img{
    background: url(img/puppyLove.jpg) no-repeat center/cover;
}
.cardWrap .card.geumsan .imgWrap .img{
    background: url(img/geumsan.jpg) no-repeat center/cover;
}
.cardWrap .card.gochang .imgWrap .img{
    background: url(img/gochang.jpg) no-repeat center/cover;
}
/* 칵테일 이미지들 끝 */

.cardWrap .card .imgWrap .topic{
    width: calc(50% - 4px);
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.cardWrap .card .imgWrap .topic li{
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
}
.cardWrap .card .imgWrap .topic li.on{
    transition: all 0.3s;
}
.cardWrap .card .imgWrap .topic li.baseTopic{
    color: #F6741E;
    border: 1px solid #FFCCAB;
}
.cardWrap .card .imgWrap .topic li.on.baseTopic{
    background-color: #FFEDDD;
}

.cardWrap .card .imgWrap .topic li.glassTopic{
    color: #3675EA;
    border: 1px solid #C2D7FF;
}
.cardWrap .card .imgWrap .topic li.on.glassTopic{
    background-color: #E5EEFF;
}

.cardWrap .card .imgWrap .topic li.methodTopic{
    color: #A55DCD;
    border: 1px solid #ECC8FF;
}
.cardWrap .card .imgWrap .topic li.on.methodTopic{
    background-color: #F4E7FC;
}

.cardWrap .card .imgWrap .topic li.garnishTopic{
    color: #F58F0A;
    border: 1px solid #FFDE91;
}
.cardWrap .card .imgWrap .topic li.on.garnishTopic{
    background-color: #FFF2D4;
}

.cardWrap .card .recipeWrap {
    padding: 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
    background-color: #f8f8f8;
}
.cardWrap .card .recipeWrap .recipe{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.cardWrap .card .recipeWrap .recipe li{
    display: flex;
    gap: 4px;
}
.cardWrap .card .recipeWrap .recipe li p{
    font-size: 14px;
    font-weight: 400;
    color: #494949;
}
.cardWrap .card .recipeWrap .recipe li p.vol{
    font-weight: 600;
}
.cardWrap .card .recipeWrap .hrz{
    width: 100%;
    height: 1px;
    border: 0.5px dashed #DBDBDB;
}
.cardWrap .card .recipeWrap .note{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.cardWrap .card .recipeWrap .note li{
    display: flex;
    gap: 4px;
}
.cardWrap .card .recipeWrap .note li p{
    font-size: 14px;
    font-weight: 400;
    color: #777777;
}

/* 암기 버튼 */
.cardWrap .card .completeBtn{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16px;
    right: 16px;
    transition: all 0.3s;
}
.cardWrap .card .completeBtn.on svg rect{
    stroke: #52B908;
    transition: all 0.3s;
}
.cardWrap .card .completeBtn.on svg path{
    stroke: #52B908;
    transition: all 0.3s;
}

/* 암기버튼 on이면 안보이게 */
.card.folded .imgWrap,
.card.folded .recipeWrap{
    display: none;
}
.cardWrap .card.folded .titleWrap .title,
.cardWrap .card.folded .titleWrap .titleEng{
    color: #dbdbdb;
}





/* adzone */
.adZone{
    position: fixed;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adZone svg{
    width: 24px;
    height: 24px;
}





/* 반응형 */
@media (min-width: 580px) {

.contents{
    margin-bottom: 106px;
}

.searchWrap .logo img{
    display: block;
    height: 40px;
    width: 40px;
}
.searchBtn{
    height: 40px;
    border-radius: 20px;
}
.searchWrap img.ic_search{
    width: 18px;
    height: 18px;
}
.searchWrap img.ic_close{
    width: 14px;
    height: 14px;
}
.searchInput{
    font-size: 16px;
}

.sortWrap{
    padding: 72px 20px 12px 20px;
}
.sortWrap .mainSort li{
    padding: 12px 0;
    border-radius: 16px;
}

.cardWrap {
    grid-template-columns: 1fr 1fr;
}
.cardWrap .card .imgWrap .img{
    height: 160px;
}

.adZone{
    height: 106px;
}
}