body {
    background-color: #f8f8f8;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}





/* 헤더 */
/* header{
    width: 100%;
    height: 56px;
    background-color: #fff;
    border-bottom: 1px solid #DBDBDB;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1 a{
    font-size: 20px;
    font-weight: 600;
    color: #494949;
    padding: 8px;
} */





/* 콘텐츠 */
.contents{
    padding: 24px 20px 0px 20px;
    background-color: #f8f8f8;
    margin-bottom: 74px;
}





/* 구분 */
.sortWrap{
    width: 100%;
    margin-bottom: 16px;
}
.sortWrap .mainSort{
    width: 100%;
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}
.sortWrap .mainSort li{
    background-color: #f8f8f8;
    color: #aaa;
    border-radius: 8px;
    padding: 6px 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sortWrap .mainSort li svg path{
    stroke: #aaa;
}
.sortWrap .mainSort li.on svg path{
    stroke: #fff;
}

/* 메인 구분 색상 */
.sortWrap .mainSort li.all.on{
    background-color: #777777;
    color: #fff;
}
.sortWrap .mainSort li.base.on{
    background-color: #E46A2D;
    color: #fff;
}
.sortWrap .mainSort li.glass.on{
    background-color: #3675EA;
    color: #fff;
}
.sortWrap .mainSort li.method.on{
    background-color: #A55DCD;
    color: #fff;
}
.sortWrap .mainSort li.garnish.on{
    background-color: #52B908;
    color: #fff;
}
.sortWrap .mainSort li.etc.on{
    background-color: #F3B711;
    color: #fff;
}
.sortWrap .subSort{
    position: relative;
}
.sortWrap .subSort .swiper{
    overflow: hidden;
    display: none;
}
.sortWrap .subSort .swiper.on{
    display: block;
}
.sortWrap .subSort .swiper.allSub.on{
    display: none;
}
.sortWrap .subSort .swiper-wrapper{
    display: flex;
}
.sortWrap .subSort .swiper .swiper-slide{
    padding: 4px 12px;
    cursor: pointer;
    color: #aaa;
    font-size: 16px;
    font-weight: 400;
    width: auto;
    white-space: nowrap;
}

/* 스와이퍼 양 끝 페이드 */
.swiper-fade-left,
.swiper-fade-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    z-index: 10;
    pointer-events: none;
    transition: all 0.3s;
}
.swiper-fade-left {
    left: 0;
    background: linear-gradient(to right, rgb(248, 248, 248), rgba(248, 248, 248, 0));
}
.swiper-fade-right {
    right: 0;
    background: linear-gradient(to left, rgba(248, 248, 248), rgba(248, 248, 248, 0));
}
.fade-hidden {
    opacity: 0;
}

/* 서브 구분 색상 */
.sortWrap .subSort .allSub .swiper-slide.on{
    color:#777777;
}
.sortWrap .subSort .baseSub .swiper-slide.on{
    color:#E46A2D;
        font-weight: 600;
}
.sortWrap .subSort .glassSub .swiper-slide.on{
    color:#3675EA;
    font-weight: 600;
}
.sortWrap .subSort .methodSub .swiper-slide.on{
    color:#A55DCD;
    font-weight: 600;
}
.sortWrap .subSort .garnishSub .swiper-slide.on{
    color:#52B908;
    font-weight: 600;
}
.sortWrap .subSort .etcSub .swiper-slide.on{
    color:#F3B711;
    font-weight: 600;
}





/* 카드 */
.cardWrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.cardWrap .card{
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #DBDBDB;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 16px;
    display: block;
}
.cardWrap .card.hide{
    display: none;
}
.cardWrap .card .titleWrap{
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
}
.cardWrap .card .titleWrap .title{
    font-size: 20px;
    font-weight: 600;
    color: #494949;
}
.cardWrap .card .titleWrap .titleEng{
    font-size: 14px;
    font-weight: 400;
    color: #777777;
}
.cardWrap .card .imgWrap{
    margin-bottom: 8px;
    display: flex;
    gap: 8px;
}
.cardWrap .card .imgWrap .img{
    display: block;
    width: calc(50% - 4px);
    border-radius: 8px;
    height: 44vw;
}

/* 칵테일 이미지들 시작 */
.cardWrap .card.manhattan .imgWrap .img{
    background: url(img/manhattan.jpg) no-repeat center/cover;
}
.cardWrap .card.oldFashioned .imgWrap .img{
    background: url(img/oldfashioned.jpg) no-repeat center/cover;
}
.cardWrap .card.newYork .imgWrap .img{
    background: url(img/newYork.jpg) no-repeat center/cover;
}
.cardWrap .card.whiskeySour .imgWrap .img{
    background: url(img/whiskeySour.jpg) no-repeat center/cover;
}
.cardWrap .card.boulevardier .imgWrap .img{
    background: url(img/boulevardier.jpg) no-repeat center/cover;
}
.cardWrap .card.rustyNail .imgWrap .img{
    background: url(img/rustyNail.jpg) no-repeat center/cover;
}
.cardWrap .card.sideCar .imgWrap .img{
    background: url(img/sideCar.jpg) no-repeat center/cover;
}
.cardWrap .card.brandyAlex .imgWrap .img{
    background: url(img/brandyAlex.jpg) no-repeat center/cover;
}
.cardWrap .card.honeymoon .imgWrap .img{
    background: url(img/honeymoon.jpg) no-repeat center/cover;
}
.cardWrap .card.blackRussian .imgWrap .img{
    background: url(img/blackRussian.jpg) no-repeat center/cover;
}
.cardWrap .card.moscowMule .imgWrap .img{
    background: url(img/moscowMule.jpg) no-repeat center/cover;
}
.cardWrap .card.seabreeze .imgWrap .img{
    background: url(img/seabreeze.jpg) no-repeat center/cover;
}
.cardWrap .card.cosmopol .imgWrap .img{
    background: url(img/cosmopol.jpg) no-repeat center/cover;
}
.cardWrap .card.appleMartini .imgWrap .img{
    background: url(img/appleMartini.jpg) no-repeat center/cover;
}
.cardWrap .card.pinaCol .imgWrap .img{
    background: url(img/pinaCol.jpg) no-repeat center/cover;
}
.cardWrap .card.blueHaw .imgWrap .img{
    background: url(img/blueHaw.jpg) no-repeat center/cover;
}
.cardWrap .card.maiTai .imgWrap .img{
    background: url(img/maiTai.jpg) no-repeat center/cover;
}
.cardWrap .card.cubaLibre .imgWrap .img{
    background: url(img/cubaLibre.jpg) no-repeat center/cover;
}
.cardWrap .card.daiquiri .imgWrap .img{
    background: url(img/daiquiri.jpg) no-repeat center/cover;
}
.cardWrap .card.bacardi .imgWrap .img{
    background: url(img/bacardi.jpg) no-repeat center/cover;
}
.cardWrap .card.tequilaSun .imgWrap .img{
    background: url(img/tequilaSun.jpg) no-repeat center/cover;
}
.cardWrap .card.margarita .imgWrap .img{
    background: url(img/margarita.jpg) no-repeat center/cover;
}
.cardWrap .card.dryMartini .imgWrap .img{
    background: url(img/dryMartini.jpg) no-repeat center/cover;
}
.cardWrap .card.negroni .imgWrap .img{
    background: url(img/negroni.jpg) no-repeat center/cover;
}
.cardWrap .card.singapore .imgWrap .img{
    background: url(img/singapore.jpg) no-repeat center/cover;
}
.cardWrap .card.ginFizz .imgWrap .img{
    background: url(img/ginFizz.jpg) no-repeat center/cover;
}
.cardWrap .card.longTea .imgWrap .img{
    background: url(img/longTea.jpg) no-repeat center/cover;
}
.cardWrap .card.apricot .imgWrap .img{
    background: url(img/apricot.jpg) no-repeat center/cover;
}
.cardWrap .card.grass .imgWrap .img{
    background: url(img/grass.jpg) no-repeat center/cover;
}
.cardWrap .card.juneBug .imgWrap .img{
    background: url(img/juneBug.jpg) no-repeat center/cover;
}
.cardWrap .card.pousse .imgWrap .img{
    background: url(img/pousse.jpg) no-repeat center/cover;
}
.cardWrap .card.b52 .imgWrap .img{
    background: url(img/b52.jpg) no-repeat center/cover;
}
.cardWrap .card.kir .imgWrap .img{
    background: url(img/kir.jpg) no-repeat center/cover;
}
.cardWrap .card.freshLeomon .imgWrap .img{
    background: url(img/freshLeomon.jpg) no-repeat center/cover;
}
.cardWrap .card.virginFruit .imgWrap .img{
    background: url(img/virginFruit.jpg) no-repeat center/cover;
}
.cardWrap .card.healing .imgWrap .img{
    background: url(img/healing.jpg) no-repeat center/cover;
}
.cardWrap .card.jindo .imgWrap .img{
    background: url(img/jindo.jpg) no-repeat center/cover;
}
.cardWrap .card.puppyLove .imgWrap .img{
    background: url(img/puppyLove.jpg) no-repeat center/cover;
}
.cardWrap .card.geumsan .imgWrap .img{
    background: url(img/geumsan.jpg) no-repeat center/cover;
}
.cardWrap .card.gochang .imgWrap .img{
    background: url(img/gochang.jpg) no-repeat center/cover;
}
/* 칵테일 이미지들 끝 */

.cardWrap .card .imgWrap .topic{
    width: calc(50% - 4px);
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.cardWrap .card .imgWrap .topic li{
    padding: 4px 8px;
    border-radius: 100px;
    font-size: 14px;
    letter-spacing: -0.04rem;
    font-weight: 400;
}
.cardWrap .card .imgWrap .topic li.baseTopic{
    color: #E46A2D;
    border: 1px solid #E46A2D;
}
.cardWrap .card .imgWrap .topic li.glassTopic{
    color: #3675EA;
    border: 1px solid #3675EA;
}
.cardWrap .card .imgWrap .topic li.methodTopic{
    color: #A55DCD;
    border: 1px solid #A55DCD;
}
.cardWrap .card .imgWrap .topic li.garnishTopic{
    color: #52B908;
    border: 1px solid #52B908;
}
.cardWrap .card .recipeWrap{
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
    background-color: #f8f8f8;
}
.cardWrap .card .recipeWrap .recipe{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.cardWrap .card .recipeWrap .recipe li{
    display: flex;
    gap: 4px;
}
.cardWrap .card .recipeWrap .recipe li p{
    font-size: 14px;
    font-weight: 400;
    color: #494949;
}
.cardWrap .card .recipeWrap .recipe li p.vol{
    font-weight: 600;
}
.cardWrap .card .recipeWrap .hrz{
    width: 100%;
    height: 1px;
    border: 0.5px dashed #DBDBDB;
}
.cardWrap .card .recipeWrap .note{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.cardWrap .card .recipeWrap .note li{
    display: flex;
    gap: 4px;
}
.cardWrap .card .recipeWrap .note li p{
    font-size: 14px;
    font-weight: 400;
    color: #777777;
}




/* adzone */
.adZone{
    position: fixed;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}